@import '../../styles/constants.scss';

.wrapper {
  overflow: hidden;
  .container {
    flex-direction: column;
    gap: 2rem;
    .heading {
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      > :nth-child(2) {
        color: $secondary;
      }
    }
  }
  .projectType {
    @media (max-width: $sm) {
      font-size: 1.3rem;
    }
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0;
    width: 100%;
    border-bottom: 2px solid;
  }
  .listContainer {
    @media (max-width: $sm), (max-width: $md), (max-width: $lg) {
      flex-direction: column;
      width: 100%;
    }
    .container2 {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .showCase {
    width: 100%;
    gap: 1.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
    > img {
      @media (max-width: $sm) {
        width: 100%;
      }
      border-radius: 20px;
      max-width: 25rem;
      max-height: 18rem;
      box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
    }

    .launchLink {
      color: $secondary;
      font-size: 1.3rem;
      font-weight: 800;
    }
    .osLabs {
      color: $secondary;
      font-weight: 600;
      text-decoration: none;
      padding-left: 4px;
    }
    .linkContainer {
      @media (max-width: $lg) {
        flex-direction: column;
        gap: 0rem;
      }
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1.5rem;
      a {
        font-size: 1.05rem;
        font-weight: 600;
        color: $secondary;
      }
    }
  }
}
